<form>
  	  <p>
	    <%= label_tag :Name %><br>
	    <%= text_field(:txt, :name, size:20) %>
	  </p>

	    <p>
	    <%= label_tag :Last_Name %><br>
	    <%= text_field(:txt, :lastName, size:20)  %>
	  </p>

	    <p>
	    <%= label_tag :Phone_Number %><br>
	    <%= text_field(:txt, :phone, size:20) %>
	  </p>

	    <p>
	    <%= label_tag :Address %><br>
	    <%= text_field(:txt, :address, size:20) %>
	  </p>

	    <p>
	    <%= label_tag :Country %><br>
	    <%= text_field(:txt, :country, size:20) %>
	  </p>

	    <p>
	    <%= label_tag :Credit_Card_Number %><br>
	    <%= text_field(:txt, :numCredit, size:20) %>
	  </p>

	    <p>
	    <%= label_tag :Credit_Cart_Code %><br>
	    <%= text_field(:txt, :Codigo_de_Tarjeta, size:20) %>
	  </p>
</form>

	  <input id="btnCompletar" class="button pulse" type="button" value="Complete" onclick="confirm();">

	  <input id="btnBack" class="button pulse" type="button" value="Back" onclick="goProducts();">


